In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
Xtrain = pd.read_csv('X_Train.csv').set_index(['Loan_ID'])
Xtest = pd.read_csv('X_Test.csv').set_index(['Loan_ID'])
Ytrain = pd.read_csv('Y_Train.csv').set_index(['Loan_ID'])
Ytrain = Ytrain['Loan_Status'].tolist()
sXtrain = pd.read_csv('Scaled_Xtrain.csv').set_index(['Loan_ID'])
sXtest = pd.read_csv('Scaled_Xtest.csv').set_index(['Loan_ID'])

In [3]:
Xtrain.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001002,1,0,0,1,0,5849,0,0,360,1,1
LP001003,1,1,1,1,0,4583,1508,128,360,1,0
LP001005,1,1,0,1,1,3000,0,66,360,1,1
LP001006,1,1,0,0,0,2583,2358,120,360,1,1
LP001008,1,0,0,1,0,6000,0,141,360,1,1

In [4]:
Xtest.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,1,1,0,1,0,5720,0,110,360,1,1
LP001022,1,1,1,1,0,3076,1500,126,360,1,1
LP001031,1,1,2,1,0,5000,1800,208,360,1,1
LP001035,1,1,2,1,0,2340,2546,100,360,0,1
LP001051,1,0,0,0,0,3276,0,78,360,1,1

========================================================================================================================

# One Hot Encoding

In [5]:
cols = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Credit_History', 'Property_Area']
encoder = OneHotEncoder(categories = 'auto')
trainLabels = encoder.fit_transform(Xtrain[cols]).toarray()
testLabels = encoder.fit_transform(Xtest[cols]).toarray()

========================================================================================================================

# Prediction using k Nearest Neigbors Model

In [6]:
neigh = KNeighborsClassifier(n_neighbors = 5)
neigh.fit(Xtrain, Ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [7]:
Ytest = neigh.predict(Xtest)
pd.DataFrame(Ytest).to_csv('Y_Test_using _knn.csv')

In [8]:
# Ytest

In [9]:
# neigh.predict(Xtrain)

In [10]:
print('Predicted Accuracy :', accuracy_score(Ytrain, neigh.predict(Xtrain)) * 100, '%')

Predicted Accuracy : 72.80130293159608 %

### prediction using KNN Model after Data Scaling

In [11]:
neigh.fit(sXtrain, Ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [12]:
Ytest = neigh.predict(sXtest)
pd.DataFrame(Ytest).to_csv('Y_Test_using _knn_scaled.csv')

In [13]:
# Ytest

In [14]:
# neigh.predict(sXtrain)

In [15]:
print('Predicted Accuracy :', accuracy_score(Ytrain, neigh.predict(sXtrain)) * 100, '%')

Predicted Accuracy : 75.57003257328991 %

### Prediction of One Hot Encoded categorical data using KNN Model

In [16]:
neigh.fit(trainLabels, Ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [17]:
Ytest = neigh.predict(testLabels)
pd.DataFrame(Ytest).to_csv('Y_Test_using _knn_ohe.csv')

In [18]:
# Ytest

In [19]:
# neigh.predict(trainLabels)

In [20]:
print('Predicted Accuracy :', accuracy_score(Ytrain, neigh.predict(trainLabels)) * 100, '%')

Predicted Accuracy : 75.8957654723127 %

========================================================================================================================

# Prediction using Logistic Regression Model

In [21]:
log = LogisticRegression(penalty = 'l2', C = 1, solver = 'lbfgs')
log.fit(Xtrain, Ytrain)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
Ytest = log.predict(Xtest)
pd.DataFrame(Ytest).to_csv('Y_Test_using _lr.csv')

In [23]:
# Ytest

In [24]:
# log.predict(Xtrain)

In [25]:
print('Predicted Accuracy :', accuracy_score(Ytrain, log.predict(Xtrain)) * 100, '%')

Predicted Accuracy : 75.57003257328991 %

### Prediction using LR Model after Data Scaling

In [26]:
log.fit(sXtrain, Ytrain)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
Ytest = log.predict(sXtest)
pd.DataFrame(Ytest).to_csv('Y_Test_using _lr_scaled.csv')

In [28]:
# Ytest

In [29]:
# log.predict(sXtrain)

In [30]:
print('Predicted Accuracy :', accuracy_score(Ytrain, log.predict(sXtrain)) * 100, '%')

Predicted Accuracy : 68.72964169381108 %

### Prediction of One Hot Encoded categorical data using LR Model

In [31]:
log.fit(trainLabels, Ytrain)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
Ytest = log.predict(testLabels)
pd.DataFrame(Ytest).to_csv('Y_Test_using _lr_ohe.csv')

In [33]:
# Ytest

In [34]:
# log.predict(trainLabels)

In [35]:
print('Predicted Accuracy :', accuracy_score(Ytrain, log.predict(trainLabels)) * 100, '%')

Predicted Accuracy : 76.8729641693811 %